# Deliverable 2. Create a Customer Travel Destinations Map.
----
1. Create a folder called `Vacation_Search` to save all the files related with this deliverable.

2. Download the `Vacation_Search_starter_code.ipynb` Jupyter notebook,save it into your `Vacation_Search folder`, and rename it as `Vacation_Search.ipynb`.

3. In the `Vacation_Search.ipynb` file, ensure that the dependencies and the Google API key is imported correctly.

4. From the `Weather_Database` folder you created in the "Deliverable 1," import the `WeatherPy_Database.csv` file as a Pandas DataFrame named `city_data_df`.

5. Write two input statements that prompt the user to enter their minimum and maximum temperature criteria for their vacation.

6. Create a new Pandas DataFrame by using the `loc` Pandas method to filter the `city_data_df` DataFrame for temperature criteria  collected. Name the DataFrame as `preferred_cities_df`.

7. Create a new Pandas DataFrame named `clean_travel_cities` by using the Pandas `dropna` function on the `preferred_cities_df` to drop any empty rows.

8. Use the `copy` Pandas function to create a new DataFrame, called `hotel_df`, by copying the following columns from the `clean_travel_cities` DataFrame: "City", "Country", "Max Temp", "Current Description", "Lat", "Lng".

9. Add a new empty column named `Hotel Name` to the `hotel_df` DataFrame.

10. Review the hotel search parameters provided. These parameters are the same we used in this module; you'll use them to search for a hotel for each city.

11. Use a for loop to iterate through the `hotel_df` DataFrame, retrieve the latitude and longitude of each city to find the nearest hotel based on the search parameters provided, then add the hotel name to the `hotel_df` DataFrame. If a hotel isn't found, skip to the next city.

12. Drop any rows in the `hotel_df` DataFrame where a hotel name is not found and store the resulting data into a new DataFrame named `clean_hotel_df`.

13. Create an CSV file to store the `clean_hotel_df` DataFrame as `WeatherPy_vacation.csv` in the Vacation_Search folder.

14. Review the formatting template provided that you'll use to add an information box to each marker in the map. In the pop-up for each city you'll add:

    1. The city name.

    2. The country code.

    3. The weather description and maximum temperature for the city.

15. Review the provided list comprehension code to retrieve the city data from each row, which will then be added to the formatting template and saved in the `hotel_info` list.

16. Use the provided code snippet to retrieve the latitude and longitude from each row and store them in a new DataFrame called `locations`.

17. Refactor your previous marker layer map code to create a marker layer map that will have pop-up markers for each city on the map.

18. Take a screenshot of your map and save it to the `Vacation_Search` folder as `WeatherPy_vacation_map.png`.
---

## Ensure that the dependencies and the Google API key is imported correctly.

In [32]:
# Dependencies and Setup
import pandas as pd
import requests
import gmaps

# Import Google API key
from config import g_key

# Configure gmaps
gmaps.configure(api_key=g_key)

## From the `Weather_Database` folder you created in the "Deliverable 1," import the `WeatherPy_Database.csv` file as a Pandas DataFrame.

In [33]:
# Set the file path to import the WeatherPy_database.csv file
file_path = "../Weather_Database/WeatherPy_Database.csv"

# Load the CSV file into a Pandas DataFrame
city_data_df = pd.read_csv(file_path)



# Display sample data
city_data_df.head(10)

,City_ID,City,Country,Lat,Lng,Max Temp,Humidity,Cloudiness,Wind Speed,Current Description
0,0,Arraial Do Cabo,BR,-22.9661,-42.0278,71.46,78,100,9.22,overcast clouds
1,1,Chaman,PK,30.9236,66.4512,68.90,12,0,5.32,clear sky
2,2,Tasiilaq,GL,65.6145,-37.6368,32.16,62,72,5.26,broken clouds
3,3,Mataura,NZ,-46.1927,168.8643,39.47,89,100,8.08,overcast clouds
4,4,Rikitea,PF,-23.1203,-134.9692,69.01,64,0,22.28,clear sky
5,5,Longyearbyen,SJ,78.2186,15.6401,40.84,70,40,13.80,scattered clouds
6,6,Punta Arenas,CL,-53.1500,-70.9167,53.71,43,75,14.97,broken clouds
7,7,Sao Francisco,BR,-15.9486,-44.8644,90.16,35,58,4.72,light rain
8,8,Paris,FR,48.8534,2.3488,61.77,86,100,10.36,overcast clouds
9,9,Laredo,US,27.5064,-99.5075,84.49,48,100,3.44,overcast clouds

## Write two input statements that prompt the user to enter their minimum and maximum temperature criteria for their vacation.

In [34]:
# Prompt the user to enter the minimum temperature criteria
min_temp = float(input("What is the minimum temperature you would like for your trip? "))
# Prompt the user to enter the maximum temperature criteria
max_temp = float(input("What is the maximum temperature you would like for your trip? "))

What is the minimum temperature you would like for your trip? 65
What is the maximum temperature you would like for your trip? 75

## Create a new Pandas DataFrame by using the `loc` Pandas method to filter the `city_data_df` DataFrame for temperature criteria  collected.

In [35]:
# Filter the city_data_df DataFrame to find the cities that fit the criteria using the loc Pandas function
preferred_cities_df = city_data_df.loc[(city_data_df["Max Temp"] <= max_temp) & \
                                       (city_data_df["Max Temp"] >= min_temp)]
                                    
# Display sample data
preferred_cities_df.head(10)

,City_ID,City,Country,Lat,Lng,Max Temp,Humidity,Cloudiness,Wind Speed,Current Description
0,0,Arraial Do Cabo,BR,-22.9661,-42.0278,71.46,78,100,9.22,overcast clouds
1,1,Chaman,PK,30.9236,66.4512,68.90,12,0,5.32,clear sky
4,4,Rikitea,PF,-23.1203,-134.9692,69.01,64,0,22.28,clear sky
13,13,Sampit,ID,-2.5333,112.9500,73.63,98,100,1.01,overcast clouds
18,18,Ponta Do Sol,PT,32.6667,-17.1000,72.72,89,100,5.95,overcast clouds
24,24,Abha,SA,18.2164,42.5053,71.42,21,20,9.22,few clouds
25,25,Fortuna,US,40.5982,-124.1573,68.94,71,7,3.00,clear sky
27,27,Mantua,IT,45.1667,10.7833,66.09,85,44,0.98,scattered clouds
28,28,Vao,NC,-22.6667,167.4833,70.48,56,99,8.68,overcast clouds
29,29,Portland,US,45.5234,-122.6762,73.99,77,100,6.91,overcast clouds

## Create a new Pandas DataFrame named `clean_travel_cities` by using the Pandas `dropna` function on the `preferred_cities_df` to drop any empty rows.

In [36]:
# Drop any empty rows in the preferred_cities_df DataFrame and create a new DataFrame.
clean_travel_cities = preferred_cities_df.dropna()

# Display sample data
clean_travel_cities.head(10)

,City_ID,City,Country,Lat,Lng,Max Temp,Humidity,Cloudiness,Wind Speed,Current Description
0,0,Arraial Do Cabo,BR,-22.9661,-42.0278,71.46,78,100,9.22,overcast clouds
1,1,Chaman,PK,30.9236,66.4512,68.90,12,0,5.32,clear sky
4,4,Rikitea,PF,-23.1203,-134.9692,69.01,64,0,22.28,clear sky
13,13,Sampit,ID,-2.5333,112.9500,73.63,98,100,1.01,overcast clouds
18,18,Ponta Do Sol,PT,32.6667,-17.1000,72.72,89,100,5.95,overcast clouds
24,24,Abha,SA,18.2164,42.5053,71.42,21,20,9.22,few clouds
25,25,Fortuna,US,40.5982,-124.1573,68.94,71,7,3.00,clear sky
27,27,Mantua,IT,45.1667,10.7833,66.09,85,44,0.98,scattered clouds
28,28,Vao,NC,-22.6667,167.4833,70.48,56,99,8.68,overcast clouds
29,29,Portland,US,45.5234,-122.6762,73.99,77,100,6.91,overcast clouds

Use the `copy` Pandas function to create a new DataFrame, called `hotel_df`, by copying the following columns from the `clean_travel_cities` DataFrame: "City", "Country", "Max Temp", "Current Description", "Lat", "Lng".

In [37]:
# Create DataFrame called hotel_df by copying some columns from the clean_travel_cities DataFrame.
hotel_df = hotel_df = clean_travel_cities[["City", "Country", "Max Temp","Current Description", "Lat", "Lng"]].copy()

hotel_df.head(10)

# Display sample data
hotel_df.head(10)

               City Country  Max Temp Current Description      Lat       Lng
0   Arraial Do Cabo      BR     71.46     overcast clouds -22.9661  -42.0278
1            Chaman      PK     68.90           clear sky  30.9236   66.4512
4           Rikitea      PF     69.01           clear sky -23.1203 -134.9692
13           Sampit      ID     73.63     overcast clouds  -2.5333  112.9500
18     Ponta Do Sol      PT     72.72     overcast clouds  32.6667  -17.1000
24             Abha      SA     71.42          few clouds  18.2164   42.5053
25          Fortuna      US     68.94           clear sky  40.5982 -124.1573
27           Mantua      IT     66.09    scattered clouds  45.1667   10.7833
28              Vao      NC     70.48     overcast clouds -22.6667  167.4833
29         Portland      US     73.99     overcast clouds  45.5234 -122.6762

## Add a new empty column named `Hotel Name` to the `hotel_df` DataFrame.

In [38]:
# Add a new empty column, "Hotel Name", to the hotel_df DataFrame
hotel_df["Hotel Name"] = ""

# Display sample data
hotel_df.head(10)

,City,Country,Max Temp,Current Description,Lat,Lng,Hotel Name
0,Arraial Do Cabo,BR,71.46,overcast clouds,-22.9661,-42.0278,
1,Chaman,PK,68.90,clear sky,30.9236,66.4512,
4,Rikitea,PF,69.01,clear sky,-23.1203,-134.9692,
13,Sampit,ID,73.63,overcast clouds,-2.5333,112.9500,
18,Ponta Do Sol,PT,72.72,overcast clouds,32.6667,-17.1000,
24,Abha,SA,71.42,few clouds,18.2164,42.5053,
25,Fortuna,US,68.94,clear sky,40.5982,-124.1573,
27,Mantua,IT,66.09,scattered clouds,45.1667,10.7833,
28,Vao,NC,70.48,overcast clouds,-22.6667,167.4833,
29,Portland,US,73.99,overcast clouds,45.5234,-122.6762,

## Review the hotel search parameters provided. These parameters are the same we used in this module; you'll use them to search for a hotel for each city.

In [39]:
# Review the parameters to search for a hotel
params = {
    "radius": 5000,
    "type": "lodging",
    "key": g_key
}

## Use a for loop to iterate through the `hotel_df` DataFrame, retrieve the latitude and longitude of each city to find the nearest hotel based on the search parameters provided, then add the hotel name to the `hotel_df` DataFrame. If a hotel isn't found, skip to the next city.

In [40]:
# Iterate through the hotel DataFrame 
for index, row in hotel_df.iterrows():
    # Fetch latitude and longitude from the DataFrame
    lat = row["Lat"]
    lng = row["Lng"]
    
    # Add the latitude and longitude as parameters to the params dictionary
    params["location"] = f"{lat},{lng}"
    
    # Set up the base URL for the Google Directions API to get JSON data
    base_url = "https://maps.googleapis.com/maps/api/place/nearbysearch/json"

    # Make an API request and retrieve the JSON data from the hotel search
    hotels = requests.get(base_url, params=params).json()
    
    # Get the first hotel from the results and store the name, if a hotel isn't found skip the city
    try:
        hotel_df.loc[index, "Hotel Name"] = hotels["results"][0]["name"]
    except (IndexError):
        print("Hotel not found... skipping.")

Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.

In [41]:
# Display sample data
hotel_df.head(10)

,City,Country,Max Temp,Current Description,Lat,Lng,Hotel Name
0,Arraial Do Cabo,BR,71.46,overcast clouds,-22.9661,-42.0278,Pousada Porto Praia
1,Chaman,PK,68.90,clear sky,30.9236,66.4512,Niamat parda Center chaman
4,Rikitea,PF,69.01,clear sky,-23.1203,-134.9692,People ThankYou
13,Sampit,ID,73.63,overcast clouds,-2.5333,112.9500,Aquarius Boutique Hotel Sampit
18,Ponta Do Sol,PT,72.72,overcast clouds,32.6667,-17.1000,Hotel do Campo
24,Abha,SA,71.42,few clouds,18.2164,42.5053,Abha Hotel
25,Fortuna,US,68.94,clear sky,40.5982,-124.1573,Super 8 by Wyndham Fortuna
27,Mantua,IT,66.09,scattered clouds,45.1667,10.7833,Hotel la Favorita
28,Vao,NC,70.48,overcast clouds,-22.6667,167.4833,Hotel Kou-Bugny
29,Portland,US,73.99,overcast clouds,45.5234,-122.6762,Embassy Suites by Hilton Portland Downtown

## Drop any rows in the `hotel_df` DataFrame where a hotel name is not found and store the resulting data into a new DataFrame named `clean_hotel_df`.

In [42]:
# Drop the rows where there is no Hotel Name.
clean_hotel_df = hotel_df.dropna()
# Display sample data
clean_hotel_df.head(10)

,City,Country,Max Temp,Current Description,Lat,Lng,Hotel Name
0,Arraial Do Cabo,BR,71.46,overcast clouds,-22.9661,-42.0278,Pousada Porto Praia
1,Chaman,PK,68.90,clear sky,30.9236,66.4512,Niamat parda Center chaman
4,Rikitea,PF,69.01,clear sky,-23.1203,-134.9692,People ThankYou
13,Sampit,ID,73.63,overcast clouds,-2.5333,112.9500,Aquarius Boutique Hotel Sampit
18,Ponta Do Sol,PT,72.72,overcast clouds,32.6667,-17.1000,Hotel do Campo
24,Abha,SA,71.42,few clouds,18.2164,42.5053,Abha Hotel
25,Fortuna,US,68.94,clear sky,40.5982,-124.1573,Super 8 by Wyndham Fortuna
27,Mantua,IT,66.09,scattered clouds,45.1667,10.7833,Hotel la Favorita
28,Vao,NC,70.48,overcast clouds,-22.6667,167.4833,Hotel Kou-Bugny
29,Portland,US,73.99,overcast clouds,45.5234,-122.6762,Embassy Suites by Hilton Portland Downtown

**Note:** If the resulting DataFrame is empty, uncomment the following code to load sample data into the `clean_hotel_df`.

In [43]:
# In case of an empty DataFrame, load the sample data provided
# clean_hotel_df = pd.read_csv("WeatherPy_vacation-backup.csv")
# clean_hotel_df.head(10)

## Create an CSV file to store the `clean_hotel_df` DataFrame as `WeatherPy_vacation.csv` in the Vacation_Search folder.

In [49]:
# Set the file name.
output_data_file = "WeatherPy_vacation.csv"
# Create a CSV file by using the clean_hotel_df DataFrame
clean_hotel_df.to_csv(output_data_file, index_label="City_ID")

### Review the formatting template provided that you'll use to add an information box to each marker in the map.

In the pop-up for each city you'll add: 

1. The city name

2. The country code

3. The weather description and maximum temperature for the city

In [50]:
# Review the formatting template provided
info_box_template = """
<dl>
<dt>Hotel Name</dt><dd>{Hotel Name}</dd>
<dt>City</dt><dd>{City}</dd>
<dt>Country</dt><dd>{Country}</dd>
<dt>Current Weather</dt><dd>{Current Description} and {Max Temp} °F</dd>
</dl>
"""

## Review the provided list comprehension code to retrieve the city data from each row, which will then be added to the formatting template and saved in the `hotel_info` list.

In [51]:
# Get the data from each row in the clean_hotel_df DataFrame, add it to the formatting template, and store the data in a list.
hotel_info = [info_box_template.format(**row) for index, row in clean_hotel_df.iterrows()]

# Display sample data
hotel_info[:10]

['\n<dl>\n<dt>Hotel Name</dt><dd>Pousada Porto Praia</dd>\n<dt>City</dt><dd>Arraial Do Cabo</dd>\n<dt>Country</dt><dd>BR</dd>\n<dt>Current Weather</dt><dd>overcast clouds and 71.46 °F</dd>\n</dl>\n',
 '\n<dl>\n<dt>Hotel Name</dt><dd>Niamat parda Center chaman</dd>\n<dt>City</dt><dd>Chaman</dd>\n<dt>Country</dt><dd>PK</dd>\n<dt>Current Weather</dt><dd>clear sky and 68.9 °F</dd>\n</dl>\n',
 '\n<dl>\n<dt>Hotel Name</dt><dd>People ThankYou</dd>\n<dt>City</dt><dd>Rikitea</dd>\n<dt>Country</dt><dd>PF</dd>\n<dt>Current Weather</dt><dd>clear sky and 69.01 °F</dd>\n</dl>\n',
 '\n<dl>\n<dt>Hotel Name</dt><dd>Aquarius Boutique Hotel Sampit</dd>\n<dt>City</dt><dd>Sampit</dd>\n<dt>Country</dt><dd>ID</dd>\n<dt>Current Weather</dt><dd>overcast clouds and 73.63 °F</dd>\n</dl>\n',
 '\n<dl>\n<dt>Hotel Name</dt><dd>Hotel do Campo</dd>\n<dt>City</dt><dd>Ponta Do Sol</dd>\n<dt>Country</dt><dd>PT</dd>\n<dt>Current Weather</dt><dd>overcast clouds and 72.72 °F</dd>\n</dl>\n',
 '\n<dl>\n<dt>Hotel Name</dt><dd>Abha Hotel</dd>\n<dt>City</dt><dd>Abha</dd>\n<dt>Country</dt><dd>SA</dd>\n<dt>Current Weather</dt><dd>few clouds and 71.42 °F</dd>\n</dl>\n',
 '\n<dl>\n<dt>Hotel Name</dt><dd>Super 8 by Wyndham Fortuna</dd>\n<dt>City</dt><dd>Fortuna</dd>\n<dt>Country</dt><dd>US</dd>\n<dt>Current Weather</dt><dd>clear sky and 68.94 °F</dd>\n</dl>\n',
 '\n<dl>\n<dt>Hotel Name</dt><dd>Hotel la Favorita</dd>\n<dt>City</dt><dd>Mantua</dd>\n<dt>Country</dt><dd>IT</dd>\n<dt>Current Weather</dt><dd>scattered clouds and 66.09 °F</dd>\n</dl>\n',
 '\n<dl>\n<dt>Hotel Name</dt><dd>Hotel Kou-Bugny</dd>\n<dt>City</dt><dd>Vao</dd>\n<dt>Country</dt><dd>NC</dd>\n<dt>Current Weather</dt><dd>overcast clouds and 70.48 °F</dd>\n</dl>\n',
 '\n<dl>\n<dt>Hotel Name</dt><dd>Embassy Suites by Hilton Portland Downtown</dd>\n<dt>City</dt><dd>Portland</dd>\n<dt>Country</dt><dd>US</dd>\n<dt>Current Weather</dt><dd>overcast clouds and 73.99 °F</dd>\n</dl>\n']

## Use the provided code snippet to retrieve the latitude and longitude from each row and store them in a new DataFrame called `locations`.

In [52]:
# Get the latitude and longitude from each row and store in a new DataFrame.
locations = clean_hotel_df[["Lat", "Lng"]]

# Display sample data
locations.head(10)

        Lat       Lng
0  -22.9661  -42.0278
1   30.9236   66.4512
4  -23.1203 -134.9692
13  -2.5333  112.9500
18  32.6667  -17.1000
24  18.2164   42.5053
25  40.5982 -124.1573
27  45.1667   10.7833
28 -22.6667  167.4833
29  45.5234 -122.6762

## Refactor your previous marker layer map code to create a marker layer map that will have pop-up markers for each city on the map.

In [53]:
# Add a marker layer for each city to the map. 
marker_layer = gmaps.marker_layer(locations, info_box_content=hotel_info)
fig = gmaps.figure()
fig.add_layer(marker_layer)

# Create a figure to add the Google map as a layer
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)

# Display the figure containing the map
fig

Figure(layout=FigureLayout(height='420px'))